body {
  overflow-x: hidden;
}

/* Container styling */
.container {
  width: 100%;
  padding: 20px;
  overflow: hidden; /* Hide the native scrollbar */
  position: relative;

}

/* Scroll container styling */
.scroll-container {
  display: flex;
  list-style: none;
  padding: 0 0 20px 0;
  gap: 20px;
  overflow-x: scroll; 
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Custom scrollbar container */
.custom-scrollbar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f1f1f1;
  overflow: hidden;
}

/* Custom scrollbar track */
.custom-scrollbar-track {
  margin: 0 1rem;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f7fa;
}

/* Custom scrollbar thumb */
.custom-scrollbar-thumb {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px; /* Initial width of the thumb */
  background-color: #561aa4;
  transition: width 0.2s ease-in-out;
  border-radius: 50px;
}
