@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	font-size: calc(100vw / 1440 * 16);
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	scroll-behavior: smooth;
	@media screen and (max-width: 1200px) {
		font-size: calc(100vw / 1200 * 16);
	}

	@media screen and (max-width: 950px) {
		font-size: calc(100vw / 950 * 16);
	}

	@media screen and (max-width: 768px) {
		font-size: calc(100vw / 768 * 16);
	}

	@media screen and (max-width: 485px) {
		font-size: calc(100vw / 485 * 16);
	}
}


/* section{ */
  /* height:100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
/* } */

.fp-is-overflow>.fp-overflow {
  overflow-y: auto;
  height: 100vh;

}

.hero-section {
  background-image: url('../Assets/HeroSection.png');
  background-size: cover;
  background-position: bottom;
  width: 60vw;
  height: 450px;
  border-radius: 60px;
  position: relative;
  transition: all 0.5s linear;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.hero-section:hover {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  margin-top: 0;
}

/* .fp-is-overflow>.fp-overflow{ */
  /* overflow: hidden; */
  /* overflow-y: hidden; */
/* } */

.Cargohero-section {
  margin-top: 120px;
  background-image: url('../Assets/CargoHeroSection.svg');
  background-size: cover;
  background-position: center;
  width: 1170px;
  height: 640px;
  border-radius: 60px;
  position: relative;
  transition: width 2s, cubic-bezier(0.165, 0.84, 0.44, 1) ease;
}

.Cargohero-section:hover {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  margin-bottom: 0px;
  margin-top: 0;
}

.custom-footer {
  height: 22rem !important;
  background-color: #0E121B;
}

.animate__animated.animate__bounceInRight,
.animate__bounceInLeft {
  --animate-duration: 3s;
}
.animate__animated.animate__fadeInLeft,
.animate__fadeInDown,
.animate__fadeInRight,
.animate__fadeInUp {
  --animate-duration: 2s;
}

.animate__fadeIn {
  --animate-duration: 4s;
}

.float-animations {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.shadow-screens {
  position: relative;
}

.shadow-image {
  position: absolute;
  bottom: -70px;
  left: -70px;
  transform: translateX(-50%) ;
  width: 400px;
  height: 100px;
  z-index:0;
  background-image: url('../Assets/Truckshadow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
/* Define the keyframes for the animation */
@keyframes fadeInLeftScroll {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply this class to elements that should animate on scroll */
.scrollAnimation {
  animation: fadeInLeftScroll 1s ease-in-out forwards;
}



.color-white {
  background-color: white !important;
}

.fp-table {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100vw !important;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3rem);
  }
}

@keyframes moveDownUp {
  0%, 100% {
    transform: translateY(3rem);
  }
  50% {
    transform: translateY(0);
  }
}

.move-up-down {
  animation: moveUpDown 2s ease-in-out infinite; /* Animation properties */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.move-down-up {
  animation: moveDownUp 2s ease-in-out infinite; /* Animation properties */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

